@media screen and (max-width: 2560px) { 
    .oil-title {
        font-weight: bold;
        color: #0071e3;
        text-align: center;
    }
    .logo{
        display: none;
    }
    /* .nav-links{
        display: none;
    } */
     #desktop-nav{
        display: none;
     }
     .card{
        width: 20%;
     }
}
@media screen and (max-width: 1400px) {
    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: none;
    }
    .oil-title{
        font-weight: bold;
        color: #0071e3;
        text-align: center;
    }
    .card{
        width: 20%;
     }

    }
    #card-container{
        flex-wrap: wrap;

}



@media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: none;
    }
    .card{
        width: 30%;
     }

    .oil-title{
        font-weight: bold;
        color: #0071e3;
        text-align: center;
    }
}

@media screen and (max-width: 700px) {
    .card-container{
        flex-direction: column;
    }
    .card{
        width: auto;
        padding: 10px;
        margin: 20px; 
    }

    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: none;
    }
    .oil-title{
        font-weight: bold;
        color: #0071e3;
        text-align: center;
    }
}